<h1 id="welcometomyprojectsite">Welcome to my Project Site!</h1>
<hr />
<p>My name is Ben Burger. Thanks for checking out my project site.</p>
<p>You can navigate this site by clicking the links above. I currently am hosting projects deployed in c++, python, and bash.</p>
<p>This website is served using <a href="https://about.gitlab.com/product/pages/">Gitlab Pages</a>. Check out my <a href="https://gitlab.com/bburger11/bburger11.gitlab.io">website repository</a>, where I explain how I build this website using simple markdown documents.</p>
<hr />
<pre><code class="python language-python"># I'm testing stuff, ignore:
print(x for x in test)

for i in range(1):  
  print('Single tab in')
  if True:
    print('Two tabs in')
</code></pre>
<p><code>os.system("This is one line of code")</code></p>
<div class="alert alert-info" role="alert">
  <h6 class="alert-heading"><img src="images/gitlab.png" height="24" width="24">&nbsp;Check out this project on Gitlab</h6>
  <hr>
  <p>There should be information here</p>
</div>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>