/* Fonts */
.standard-header {
    padding: 30px;
    background: #e6e6e6;
}

.header h1 {
    font-size: 50px;
    color: #404040;
}
.header p {
    font-size: 24px;
    color: #404040;
}

h1 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
}
h3 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15px;
}
p {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18px;
}

/* body */
body {
  background-color: #77a3be;
  color: #2c2b2b;
  font-family: futura, sans-serif;
}

.navbar {
    padding-left: 5%;
    padding-right: 5%;
}

.included {
    padding-left: 5%;
    margin-top:50px;
    padding-right: 5%;
}

/* Hyperlinks */
a {
  font-size: 14px;
}
a:link {
    color: #4e4d4d;
}
a:visited {
    color: #535151;
}
a:hover {
    color: #8a8989;
}
a:active {
    color: #2c2b2b;
}

.footer {
  text-align: center;
}
